*~
.*.sw?
autom4te.cache/*
Makefile.in
Makefile
config.h
config.h.in
config.log
config.status
depcomp
stamp-h1
install-sh
configure
missing
po/Makevars.template
po/stamp-po
src/.deps/*
po/POTFILES
*.o
src/botcommander
aclocal.m4
/po/.pot
/po/remove-potcdate.sed
